.mdxContent {
  max-width: 720px;
  margin-top: 20px;
  line-height: 1.7;
}

.mdxContent h2 {
  margin-top: 24px;
}

.mdxContent ul {
  padding-left: 18px;
}

.mdxContent p {
  margin-top: 12px;
}

.postFigure{
  margin: 18px 0;
}

.postFigure img{
  border-radius: 14px;
}

.postCaption{
  margin-top: 8px;
  opacity: .85;
  font-size: .9rem;
}
